h1{
    text-align: center;
}

.bio{
    text-align: center;
    margin-bottom: .2em;
    font-weight: bold;
    font-style: italic;
}

#links{
    padding: 2em;
    text-align: center;
}

a:link, a:visited{
    color: blue;
    margin-right: 2em;
}

.line {
    border-bottom: 1px solid #888;
  }