button:hover {
    border: none;
    cursor: pointer;
}

.folder-icon {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.folder-icon img {
    width: 54px;
    height: 54px;
}

.my_computer-icon {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my_computer-icon img {
    width: 54px;
    height: 54px;
}

.adobe-pdf {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adobe-pdf img {
    width: 54px;
    height: 54px;
}

.notepad-icon {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notepad-icon img {
    width: 54px;
    height: 54px;
}

.linkedin-logo {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkedin-logo img {
    width: 54px;
    height: 54px;
}

.github-logo {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.github-logo img {
    width: 54px;
    height: 54px;
}

.cmd-icon {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cmd-icon img {
    width: 54px;
    height: 54px;
}

.recycle_bin-icon {
    width: 100px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 45px;
    right: 8px;
}

.recycle_bin-icon img {
    width: 54px;
    height: 54px;
}

/* .icon-name {
    
} */

.icon-name p{
    color: white;
    font-size: 13px;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.about_me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    width: 500px;
    left: 30%;
    position: fixed;
}

.about_me-container p {
    font-size: 13px;
}

.cmd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30%;
    width: 500px;
    left: 30%;
    position: fixed;
}

.cmd-container pre {
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.cmd-container a {
    color: #C0C0C0;
    
}

.cmd-container a:hover {
    color: #929292;
}
