body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/pictures/windows-xp-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}